<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="tcp" binding="netTcpBinding"/>
    </protocolMapping>
    <services>
      <service behaviorConfiguration="tb" name="TraceServer.TraceService">
        <endpoint address="net" binding="customBinding" bindingConfiguration="customConfiguration"
          contract="TraceServer.ITraceService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:4520/TraceService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpConfiguration">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="customConfiguration" receiveTimeout="00:59:59" sendTimeout="00:59:59">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <tcpTransport maxReceivedMessageSize="2147483647"></tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="tb">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <clear />
    <add name="default"
         connectionString="Data Source=.\EXPRESSR2;AttachDbFilename=D:\sqlTrace\TraceSystemDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
